/* Main Site */

* {
    background: lightblue;
    align-self: center;
}

div {
    align-self: center;
}

/* index page stuff */
.gif_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.web_title {
    text-align: center;
}

div.recipe_container {
    border:black;
    border-radius: 2px;
}

.recipelist {
    text-align: center;
    list-style: none;
}

.recipelist.items {
    border: black;
}

